$background_page: hsl(212, 45%, 89%);
$background_card: hsl(0, 0%, 100%);
$title_color: hsl(218, 44%, 22%);
$text_color: hsl(220, 15%, 55%);
$border_radius: 16px;

* {
  box-sizing: border-box;
}

body {
  background-color: $background_page;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  padding: 8.5em 0;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $background_card;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  border-radius: $border_radius;
  padding: 1em;
  width: 320px;
  img {
    width: 288px;
    border-radius: $border_radius;
  }
  h1 {
    font-size: 22px;
    margin: 16px;
    color: $title_color;
  }
  p {
    margin: 8px 16px;
    color: $text_color;
  }
}
